@media only screen and (min-width:63.5em) {
    body {
    background-color: rgb(28, 221, 2);
    }
    nav {
        display: flex;
        max-width: 100%;
    }

    .content-box {
        display: block;
        width: 80%;
        margin: 10px auto;
        padding: 15px;
        background-color: rgb(62, 223, 62);
        color: black;
    }
    .forecast-one {
        position: absolute;
        left: 14%;
    }
    .forecast-two {
        position: absolute;
        left: 23%;
    }
    .forecast-three {
        position: absolute;
        left: 35%;
    }
    .forecast-four {
        position: absolute;
        left: 60%;
    }

    
    .hero-image{
        width: 760px;
        height: 300px;
    }
    .overlay-text{
        position: absolute;
        width: 115px;
        right: 80%;
        height: 130px;
        bottom: 10%;
        background-color: rgb(111, 236, 73);
        grid-column: 1;
        grid-row: 2;
        z-index: 12;
}
    .article-pic {
        float: right;
        width: 250px;
        height: 250px;
    }
    .article-title {
        float: left;
    }
    .article-text {
        width: 75%;
        text-align: left;
    }
};