@media only screen and (min-width:63.5em) {
    body {
    background-color: #F1E9E4;
    }
    nav {
        display: flex;
        max-width: 100%;
    }

    .content-box {
        display: block;
        width: 80%;
        margin: 10px auto;
        padding: 15px;
        background-color: #F5F5F5;
        color: black;
    }

    #hotels img {
        width: 550px;
        height: 550px;
    }

    .main-sec {
        display: flex;
        flex-direction: column;
        max-width: 1040px;
        margin: auto;
        align-items: center;
        text-align: center;
    }
    
};

