@media only screen and (min-width:32.5em) {
    body {
    background-color: rgba(43, 247, 60, 0.904);
    }
    nav {
        display: flex;
        max-width: 100%;
    }
    .content-box {
        display: block;
        width: 80%;
        margin: 10px auto;
        padding: 15px;
        background-color: rgb(62, 223, 62);
        color: black;
    }



    
    .towns {
        display: grid;
        grid-template-columns: 1fr;
        /*change 1 temp-col(s) to just 1 fr and comment out display:flex*/
        /*and move the image within the nth child specs*/
        grid-gap: 30px;
        text-align: center;
        margin: .5rem auto;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }

    .towns article {
        display: block;
        width: 80%;
        padding: 30px;
        background-color: rgb(53, 235, 53);
        color: black;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    
    article:nth-child(odd) {
        flex-direction: row-reverse;
    }


    .towns article img {
        max-width: 200px;
        padding: 10px;
    }
    
    .main-sec {
        display: flex;
        flex-direction: column;
        max-width: 220px;
        margin: auto;
        align-items: center;
        text-align: center;

    }    
};

