@media only screen and (min-width:32.5em) {
    body {
    background-color: rgba(43, 247, 60, 0.904);
    }
    nav {
        display: flex;
        max-width: 100%;
    }
    .content-box {
        display: block;
        width: 80%;
        margin: 10px auto;
        padding: 15px;
        background-color: rgb(62, 223, 62);
        color: black;
    }

    .hero-image img{
        width: 360px;
        height: 250px;
    }
    .overlay-text{
        position: absolute;
        width: 115px;
        right: 74%;
        padding: 5px;
        height: 145px;
        opacity: 0.8;
        bottom: 2%;
        background-color: rgb(111, 236, 73);
        grid-column: 1;
        grid-row: 2;
        z-index: 12;
}